definitions/liferay-hook_5_2_0.dtd

<!--
This is the DTD for the Hook parameters for Liferay Portal.

<!DOCTYPE hook PUBLIC
	"-//Liferay//DTD Hook 5.2.0//EN"
	"http://www.liferay.com/dtd/liferay-hook_5_2_0.dtd">
-->

<!ELEMENT hook (portal-properties?, language-properties*, custom-jsp-dir?)>

<!ELEMENT portal-properties (#PCDATA)>

<!ELEMENT language-properties (#PCDATA)>

<!ELEMENT custom-jsp-dir (#PCDATA)>